<center>
    <h2>List works</h2>
</center>
<table class="table table-hover table-border">
    <thead>
        <tr>
            <th>#</th>
            <th>Customer</th>
            <th>Work name</th>
            <th>Skill</th>
            <th>Price</th>
            <th>Work's status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <% if !@works.nil?%>
          <%  @works.each_with_index do |work, index| %> 
            <tr>
                <td><%= index+1 %> </td>
                <td><%= work.user.fullname%> </td>
                <td><%= work.name %></td>
                <td>
                    <% work.categories.each do |category| %>
                      <% if @categories.include? category  %>
                        <%=  link_to category.name, 'javascript:;',class: "btn btn-primary" %>
                        <% else %>
                          <%=  link_to category.name, 'javascript:;', class: "btn btn-danger" %>
                          <%  end %>
                        <% end %>
                    </td>
                    <td><%= work.price %> $</td>
                    <td>
                        <%if work.status == 0%>
                          Waiting
                        <%else%>
                          Delay
                        <%end%>
                    </td>
                    <td>
                        <%= link_to 'View detail', work_path(work), class: "btn btn-default"  %>
                      </td>
                  </tr>
                <% end
                else
              %>
              <%  end%>
          </tbody>
      </table>