<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
<%#= link_to "Freelancer WEBSITE", '#', id: "logo" %>
        <nav>
            <div class="nav navbar-nav navbar-left">
                <%= link_to image_tag("media.ico", :alt => "rss feed", :width => 70, class: 'img-responsive'), '/' %>
              </div>
              <ul class="nav navbar-nav navbar-right">
                  <% if logged_in? %>
                    <li><%= link_to "User", user_path(current_user) %></li>
                    <li><% if current_user[:role_id] == 2 %>
                          <%= link_to "Post a work", new_work_path %>
                        <% elsif current_user[:role_id] == 1  %>
                          <%= link_to "Search work", search_works_path %>
                        <%  end %></li>
                    <li class="dropdown">
                        <a href="#"  data-toggle="dropdown">
                            Account <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><%= link_to "Edit profile", edit_user_path(current_user) %></li>
                            <li><% if current_user[:role_id] == 2 %>
                                  <%= link_to "Manage work", works_path %>
                                <%else%>
                                <%= link_to "Manage joiner", joiners_path %>
                                <% end  %>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <%= link_to "Log out", logout_path, method: "delete" %>
                            </li>
                        </ul>
                    </li>
                  <% else %>
                    <li><%= link_to "Sign Up",   '/signup' %></li>
                    <li><%= link_to "Log In",   '/login' %></li>
                </ul>
              <% end %>
          </nav>
      </div>
  </header>
