<% unless @tests.empty? %>
  <div id="clock" class="row"></div>
  <div class="row">
      <center>
          <h3>Skill test</h3>
      </center>
      <div class="col-md-4 col-md-offset-2">
          <%= form_tag('#', :method => 'POST', :id=>'test') do %>
            <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %> 
            <% @tests.each_with_index do |q, q_index| %>
              <h4>Question<%= q_index+1%>: <%= q.question %></h4>
              <% q.answers.shuffle.each_with_index do |a, a_index| %>
                <%if a_index == 0%><%= radio_button_tag q_index, a.id %>A.
                <%elsif a_index == 1%><%= radio_button_tag q_index, a.id %>B.
                <%elsif a_index == 2%><%= radio_button_tag q_index, a.id %>C.
                <%elsif a_index == 3%><%= radio_button_tag q_index, a.id %>D.
                <% end %>
                <%= a.answer  %><br/>
              <% end %>
              <br/>
            <%end%>
            <%= submit_tag "Submit test", class: "btn btn-primary" %>
            <% end %>
        </div>
    </div>
    <script>
      var countdown = function () {
          $('#clock').countdown({
              until: <%= @count_down%>,
              format: 'mm:ss',
              onExpiry: function () {
                  $('#test').submit();
              }
          });
      }
      document.addEventListener('turbolinks:load', countdown);
      $(document).on('page:update', countdown);
    </script>
  <%else %>
    <center>
        <h3>Sorry we don't have any test about this skill</h3>
    </center>
  <% end %>
  <style>
      input[type="radio"]{
          width:20px
      }
      input[type="submit"]{
          width:100px
      }
      h4{
          margin-top: 0px;
          margin-bottom: 5px
      }
  <%#*#clock span span span{%>
  <%#*padding: 0;%>
  <%#*margin: 0;%>
  <%#*}%>
  <%#*.countdown-amount{%>
  <%#*padding: 0;%>
  <%#*margin: 0;%>
  <%#*}%>
  <%#*.countdown-period{%>
  <%#*padding: 0;%>
  <%#*margin: 0;%>
  <%#*}%>
  </style>
